<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>


<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("HONOUR CODE")}</h1>
<p>In any learning program, academic and community integrity is paramount, serious violations of the
standards of integrity expected from students/participants may affect continued participation in a
SureSkills programme. </br></br>
All students at SureSkills are expected to act in accordance with the rules and regulations listed
below. Students who violate the Honour Code will face serious penalties, including possible dismissal
from the enrolled SureSkills module, class, course or programme.</br></br>
If you have questions about any aspect of this SureSkills Honour Code, please email
<a>hello@sureskills.com</a>.</p>
<h2>COLLABORATION POLICY</h2>
<p>By enrolling in a course on od.SureSkills.com, you are joining a community of learners. Our promise
to you is to provide to you and your organisation the best corporate learning experience that
SureSkills and internet technology can enable. You are a part of the community that will help us to
chieve this goal. Od.SureSkills.com is operated by SureSkills Limited and depends upon your
motivation to learn. In order to participate od.SureSkills.com, you must agree to the Honour Code
below and any additional terms specific to a course or program. This Honour Code, and any
additional terms, will be posted on each course website.</p>

<h2>HONOUR CODE PLEDGE</h2>
<p>By enrolling in an od.SureSkills.com course or program, I agree that I will:</br></br>
Complete all tests and assignments on my own, unless collaboration on an assignment is explicitly
permitted.</br></br>
Maintain only one user account and not let anyone else use my username and/or password.</br></br>
Not engage in any activity that would dishonestly improve my results, or improve or hurt the results
of others.</br></br>
Not post answers to problems that are being used to assess learner performance.</p>

<h2>VIOLATIONS</h2>
<p>If you are found in violation of the Terms of Service or Honour Code, you may be subject to one or
more of the following actions:</p>
<ul>
	<li type="disc">Receiving a zero or no credit for an assignment;</li>
	<li type="disc">Having any certificate earned in the course or program withheld or revoked;</li>
	<li type="disc">Being unenrolled from a course or program; or</li>
	<li type="disc">Termination of your use of the od.SureSkills.com site.</li>
</ul>
<p>No refunds will be issued in the case of any corrective action for such violations.</br></br>
Honour Code violations will be determined at the sole discretion of od.SureSkills.com operated by
SureSkills. You will be notified if a determination has been made that you have violated this Honour
Code and you will be informed of the corresponding action to be taken as a result of the violation.</p>

<h2>CHANGING THE HONOR CODE</h2>
<p>Please note that we review and may make changes to this Honour Code from time to time. Any
changes to this Honour Code will be effective immediately upon posting on this page, with an
updated effective date. By accessing the od.SureSkills.com site after any changes have been made,
you signify your agreement on a prospective basis to the modified Honour Code and any changes
contained therein. Be sure to return to this page periodically to ensure familiarity with the most
current version of this Honour Code.</p>
<p>Last updated: 18/July/2018</p>
    </section>
</main>
