<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>



<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
    	<h1>${_("Terms of Service")}</h1>
        <p>This SureSkills on-demand eLearning site (od.sureskills.com) is operated by SureSkills Limited
(SureSkills) a private Limited company registered in the Republic of Ireland at 14 Fitzwilliam Place,
Dublin D02 W025, Ireland. CRO Number 204821.</p>

<p>The use of the SureSkills eLearning site “od.sureskills.com” is subject to the Terms and Conditions
outlined below. SureSkills reserves the right to make changes to these Terms and Conditions from
time to time and you should check these Terms and Conditions regularly. Your continued use of the
od.sureskills.com site will be deemed acceptance of the updated or amended Terms and Conditions
for od.sureskills.com. If you do not agree to the changes, you should cease using the site. If there is
any conflict between these Terms and Conditions and specific local terms appearing elsewhere on
the site (including community rules) then the latter shall prevail.</p>

<h2>Provision of the SureSkills od.sureskills.com site</h2>
<p>SureSkills reserves the right to modify or discontinue the provision of the od.sureskills.com and its
associate websites; including the removal of any content or data that is provided by either SureSkills
or by you (the user). This action can be taken at any time, without prior notice or any liability
towards you (the user).</br></br>

SureSkills will not be held responsible or liable for timeliness, removal of information, failure to store
information, inaccuracy of information or improper delivery or use of information.</br></br>

SureSkills operates a “fair use” policy to protect the quality of the od.sureskills.com to our users. If
SureSkills believes you (the user) are using excessive bandwidth or your use of od.sureskills.com is
adversely affecting its network (or any part of it) or the other users of od.sureskills.com, SureSkills
reserves the right to manage or regulate your usage of the od.sureskills.com. This may include
temporarily suspending your user account.<p>

<h2>User Responsibilities and Obligations</h2>
<h2>Terms of Access and Use</h2>
<p>Access to and use of od.sureskills.com is provided by SureSkills, subject to you (the user) adhering to
the following conditions:</br></br>
You (the user) agree to be bound by the terms and conditions; effective immediately on your first
visit to or use of the od.sureskills.com. If you do not agree to be bound by any of the terms and
conditions, access and use of od.sureskills.com site will be restricted/withdrawn.</br></br>
You (the user) agree that SureSkills may change these terms and conditions at any time and that you
should check them regularly.</br></br>
You (the user) agree to use od.sureskills.com for lawful purposes only and in a manner that does not
infringe the rights of, restrict or inhibit the use of, od.sureskills.com by anyone else. Prohibited
behaviour includes harassing or causing distress or inconvenience to any person, transmitting
obscene or offensive content or disrupting the normal flow of dialogue within od.sureskills.com.</br></br>
You (the user) may be required to register for a user account on od.sureskills.com; in this case, you
agree to provide accurate information when requested. By registering for a user account, you
explicitly agree to these terms and conditions.</br></br>
You (the user) must inform SureSkills immediately of any changes to the information that you
provided when registering by updating your personal details so that SureSkills can communicate
with you effectively.</p>

<h2>Intellectual Property</h2>
<p>All copyright, trademarks, design rights and other intellectual property rights (registered or
unregistered) and all content located within od.sureskills.com will remain the property of SureSkills
Limited or the relevant rights holders where applicable. Users may not copy, reproduce, republish,
disassemble, decompile, download, post, broadcast, transmit, make available to the public, or
otherwise use content owned by SureSkills, its affiliates or licensees, or other user content in any
way except for your own personal, non-commercial use.</br></br>
You (the user) also agree not to adapt, alter or create a derivative work from any od.sureskills.com
content except for your own personal, non-commercial use. Any other use of od.sureskills.com
content requires the prior written permission of SureSkills. The names, images and logos identifying
SureSkills or third parties and their products and od.sureskills.com are subject to copyright, design
rights and trademarks of SureSkills and/or third parties. Nothing contained in these Terms and
Conditions shall be construed as conferring any license or right to use any trade mark, design right or
copyright of SureSkills or any other third party.</p>

<h2>Your Contributions to od.sureskills.com</h2>
<p>You (the user) grant SureSkills a non-transferrable, non-exclusive worldwide, royalty free license to
use any material that you may upload to od.sureskills.com. Copyright of your content or work
contribution will remain with you and this license is not exclusive, so you can continue to use your
material in any way; including allowing other third-parties to use it.</br></br>
You (the user) confirm that all content or work uploaded or made available via od.sureskills.com is
your own original work, is not defamatory and does not infringe any Irish or international laws and
that you have the permission of anyone identified within your contribution and/or the consent of
their parent/guardian if they are under the age of 16.</br></br>
In order to participate and contribute to the discussion forum on od.sureskills.com you (the user)
agree to these rules about message posts:
<ul>
	<li type="disc">Your (the user) contributions must be civil and tasteful.</li>
	<li type="disc">Your (the user) contributions must be not be offensive in language or tone, cause any offense, be abusive or be disruptive.</li>
	<li type="disc">Your (the user) contributions must not be unlawful, harassing, defamatory, abusive, threatening, harmful, obscene, ually-orientated, racially offensive or otherwise; any objectionable material is not acceptable and will be removed.</li>
	<li type="disc"> You (the user) will not advertise or promote any brand, product or service.</li>
	<li type="disc">See our HONOUR CODE in the link at the bottom of every page of this website.</li>
</ul> <p>

<h2>Your SureSkills eLearning Account</h2>
<p>In order to use the od.sureskills.com site you will be required to register a user account. By
registering for a user account, you agree to provide accurate information. By registering for a user
account, you explicitly agree to the terms and conditions outlined on od.sureskills.com.</br></br>
All accounts must be registered with a valid email address that you (the user) access on a regular
basis so that any communication regarding your customer or eLearning account can be sent to you.</br></br>
If SureSkills has reason to believe that there is likely to be a breach of security or misuse of the
website, SureSkills may require you (the user) to change your password or may suspend your
account.</br></br>
SureSkills reserves the right to close any account that is seen to be using proxy IP Addresses
(Internet Protocol Addresses) in order to hide multiple accounts. If you (the user) use multiple logins
for the purpose of disrupting a community or annoying other users, you may have action taken
against all of your accounts.</p>

<h2>Registration and Password</h2>
<p>SureSkills advises you (the user) to never reveal your registration and password information to any
third party; it is your (the user) sole responsibility to maintain the security of your registration and
password information. Users will be held responsible for any authorised or unauthorised usage of
their account and/or user details. Users are required to notify SureSkills of any unauthorised use of
their account and/or details immediately. Any breach of this agreement may result in your (the
user’s) account being closed at any time and without prior notice.</p>

<h2>Availability of the od.sureskills.com</h2>
<p>Although SureSkills aims to offer you (the user) the best service possible, it makes no promise that
the od.sureskills.com site is available at all time. SureSkills od.sureskills.com will meet your
requirements. SureSkills cannot guarantee that the od.sureskills.com site will be fault-free. If a fault
occurs with the SureSkills od.sureskills.com you (the learner) should report it to
odsupport@SureSkills.com and SureSkills will attempt to correct the fault as soon as reasonably
possible. Your (the user) access to od.sureskills.com site may be occasionally restricted to allow for
repairs, maintenance or the introduction of new facilities. SureSkills will attempt to restore access to
the od.sureskills.com site as soon as is reasonably possible.</br></br>
SureSkills warrants that it has the right to provide the SureSkills eLearning site and will use all
reasonable skill and care in making the od.sureskills.com site available to you and in ensuring its
availability. Because of the nature of the internet, errors and omissions do occur and SureSkills does
not give any other warranties in respect of od.sureskills.com. SureSkills is continually seeking to
improve the od.sureskills.com site. SureSkills reserves the right, at its discretion, to make changes to
any part of the od.sureskills.com site provided that, it does not materially reduce its content or
functionality.<p>

<h2>SureSkills’ right to suspend or cancel your registration</h2>
<p>SureSkills may suspend or cancel your (the user) registration immediately at its reasonable discretion
or if you (the user) breach any of your obligations under these Terms and Conditions. You (the user)
can cancel your registration at any time by informing us in writing at odsupport@sureskills.com. If
you do so, you must stop using the od.sureskills.com site. The suspension or cancellation of your
registration and your right to use the SureSkills od.sureskills.com site shall not affect either parties
statutory rights or liabilities.<p>

<h2>Privacy of Information</h2>
<p>All personal information gathered and/or stored by SureSkills is subject to the Privacy Policy created
for the management of the od.sureskills.com platform.</p>

<h2>Prices and payment</h2>
<p>Your (the user) order is an offer to purchase access to online course content from SureSkills. Access
to online course content will be made available to you once your payment has been authorised and
the course session has started. There will be no contract of any kind between you and SureSkills
unless and until you make authorised payment for access to one or more online courses. At any
point up until then, SureSkills may decline to supply access to the online courses to you (the user)
without giving any reason. The fee for access to the online courses is calculated and payable in
advance of the course start date as set out on the SureSkills od.sureskills.com site. SureSkills shall be
under no obligation to provide access to online courses until the fee has been paid. All prices are
expressed inclusive of any VAT payable unless otherwise stated. Your credit/ debit card details are
not handled by SureSkills. All payment and all credit card handling is done through the third party.
Authority for payment must be given at the time of placing your order.</br></br>
SureSkills advises you to read the course descriptions that are provided in the SureSkills
od.sureskills.com site carefully before placing your order as refunds cannot be guaranteed to be
given once you have started to view the course content.</p>

<h2>Disclaimers and Limitation of Liability</h2>
<p>SureSkills will not be held responsible for content or work uploaded or made available to you (the
user) via the od.sureskills.com site or any third-party websites that are accessed via the
od.sureskills.com site or associated websites. Any links posted to third-party websites do not
amount to an endorsement by SureSkills of any content, product or SureSkills od.sureskills.com site
provided by that third-party; accessing such third-party websites is at your own risk.</br></br>
SureSkills’ content, products and SureSkills sites (or its links to/provision of third party products and
SureSkills eLearning sites), is provided “as is” and on an “as available” basis. To the extent permitted
by law, SureSkills excludes all representations and warranties (whether express or implied by law),
including the implied warranties of satisfactory quality, fitness for a particular purpose, non-
infringement, compatibility, security and accuracy. SureSkills does not guarantee the timeliness,
completeness or performance of the website or any of the content. Whilst every effort is made to

ensure that all content provided by SureSkills Liited is correct at the time of publication, no
responsibility is accepted by or on behalf of SureSkills for any errors, omissions or inaccurate content
on the website.</br></br>
SureSkills will not be held responsible or liable for any of the following losses or damage (whether
such damage or losses were foreseen, foreseeable, known or otherwise):
<ul>
	<li type="disc">Loss of data</li>
	<li type="disc">Loss of revenue or anticipated profits</li>
	<li type="disc">Loss of business</li>
	<li type="disc">Loss of opportunity</li>
	<li type="disc">Loss of goodwill or injury to reputation</li>
	<li type="disc">Losses suffered by third-parties</li>
</ul> 
 
Any indirect, consequential, special or exemplary damages arising from the use of the SureSkills
od.sureskills.com site or associated websites; regardless of the form of action.</br></br>
SureSkills does not warrant any functions available on the SureSkills od.sureskills.com site will be
uninterrupted or error-free, that defects will be corrected, or the SureSkills od.sureskills.com site or
the server that makes it available are free of viruses or bugs. You (the user) acknowledge that it is
your sole responsibility to implement sufficient procedures and virus checks (including anti-virus and
other security checks) to satisfy your particular requirements for the accuracy of data input and
output.</p>
<p>Last updated, 18/July/2018</p>
    </section>
</main>
